@model IEnumerable<CookingFit_backend.Models.Receitas>

@{
    ViewData["Title"] = "Index";
}

<h1>Receitas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar Receita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdReceita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriçao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.IdReceita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriçao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
               
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdReceita">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdReceita">Visualizar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdReceita">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
