@model IEnumerable<CookingFit_backend.Models.TipoIngrediente>

@{
    ViewData["Title"] = "Index";
}

<h2>Selecione o grupo</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>

                    <p>
                        <!-- Botão para adicionar novo ingrediente -->
                        @if (item.Tipo == "Carboidratos")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Carnes e ovos")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Frutas")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Laticínios")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Legumes e Verduras")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Leguminosas")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }
                        else if (item.Tipo == "Óleos e Gorduras")
                        {
                            <a asp-controller="Ingredientes" asp-action="Create" asp-route-tipo="@item.Tipo" class="btn btn-success">Adicionar novo ingrediente</a>
                        }

                        <!-- Botão para visualizar ingrediente -->
                        @if (item.Tipo == "Carboidratos")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="8">Visualizar</a>
                        }
                        else if (item.Tipo == "Carnes e ovos")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="9">Visualizar </a>
                        }
                        else if (item.Tipo == "Frutas")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="10">Visualizar </a>
                        }
                        else if (item.Tipo == "Laticínios")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="11">Visualizar </a>
                        }
                        else if (item.Tipo == "Legumes e Verduras")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="13">Visualizar </a>
                        }
                        else if (item.Tipo == "Leguminosas")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="14">Visualizar </a>
                        }
                        else if (item.Tipo == "Óleos e Gorduras")
                        {
                            <a class="btn btn-primary" asp-controller="Ingredientes" asp-action="ListaCarboidrato" asp-route-tipoIngredienteId="15">Visualizar </a>
                        }

                        @* <a a asp-controller="TipoIngredientes" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a> *@
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
@*     <a asp-action="Create" class="btn btn-success">Adicionar grupo alimentar</a> *@
</p>