@model IEnumerable<CookingFit_backend.Models.ItemCardapio>

@{
    ViewData["Title"] = "Lista de Itens do Cardápio";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ingrediente</th>
            <th>Tipo de Ingrediente</th>
            <th>Quantidade</th>
            <th>Total Calórico</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ingrediente.Nome</td>
                <td>@item.TipoIngrediente.Tipo</td>
                <td>@item.Quantidade</td>
                <td>@item.TotalCalorico</td>

            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Create" class="btn btn-info">Voltar</a>
</div>
