@model IEnumerable<CookingFit_backend.Models.Informacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Informação</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar informação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormAcademica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormAcademica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
           
            <td>
                
               <a asp-action="Edit" class="btn btn-warning" width="50px" asp-route-id="@item.IdInfo">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" width="50px" asp-route-id="@item.IdInfo">Visualizar</a> |
                    <a asp-action="Delete" class="btn btn-danger" width="50px" asp-route-id="@item.IdInfo">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
