@model IEnumerable<CookingFit_backend.Models.Ingrediente>

@{
    ViewData["Title"] = "Lista de " + ViewData["Tipo"];
}

<h1>@ViewData["Tipo"] disponíveis</h1>

<p>
    @*<a asp-action="Create[" Tipo"]" class="btn btn-primary">Adicionar</a>*@
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calorias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calorias)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a> | 
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
